
.editable-text {
    color: var(--editable-text);
}

.editable-text:hover {
    color: var(--editable-text-hover);
}

.active-editable {
    color: var(--text-color);
    border-radius: 6px;
    padding: 3px;
    outline-color: var(--border-color);
    outline: 0.5px solid;
}