.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
}

.table td {
    max-width: 100px;
    cursor: pointer;
}

.table th:first-child,
.table td:first-child {
    max-width: 40px;
}

.table-item-price {
    text-align: right;
}

.table-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
