/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}


/* Utility Classes */
.bg-blue-dark {
    background-color: var(--primary-dark);
}

.bg-blue {
    background-color: var(--primary-main);
}

.bg-blue-light {
    background-color: var(--primary-light);
}

.blue-light {
    color: var(--primary-light);
}

.border-style {
    border-width: 1px;
    border-color: var(--border-color);
}

::placeholder {
    color: var(--editable-text);
}

.editable-text {
    color: var(--editable-text);
}

.editable-text:hover {
    color: var(--editable-text-hover);
}

.active-editable {
    color: var(--text-color);
    border-radius: 6px;
    padding: 3px;
    outline-color: var(--border-color);
    outline: 0.5px solid;
}

.edited-text:hover {
    color: var(--editable-text-hover);
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

