/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}


/* Utility Classes */
.bg-blue-dark {
    background-color: var(--primary-dark);
}

.bg-blue {
    background-color: var(--primary-main);
}

.bg-blue-light {
    background-color: var(--primary-light);
}

.blue-light {
    color: var(--primary-light);
}

.border-style {
    border-width: 1px;
    border-color: var(--border-color);
}

::placeholder {
    color: var(--editable-text);
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

.editable-box:focus {
    border: 1px solid var(--primary-light);
    outline: none;
    box-shadow: none;
}

.editable-box:hover {
    border-color: var(--primary-color-dark);
}

.editable-box:focus:hover {
    border: 1px solid var(--primary-light);
}
