/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}

/* Utility Classes */
.bg-blue-dark {
    background-color: var(--primary-dark);
}

.bg-blue {
    background-color: var(--primary-main);
}

.bg-blue-light {
    background-color: var(--primary-light);
}

.blue-light {
    color: var(--primary-light);
}

.border-style {
    border-width: 1px;
    border-color: var(--border-color);
}

::placeholder {
    color: var(--editable-text);
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

.editable-box:focus {
    border: 1px solid var(--primary-light);
    outline: none;
    box-shadow: none;
}

.editable-box:hover {
    border-color: var(--primary-color-dark);
}

.editable-box:focus:hover {
    border:1px solid var(--primary-light);
}


.padding-y {
    padding-top: 12px;
    padding-bottom: 12px;
}

.margin-y {
    margin-top: 12px;
    margin-bottom: 12px;
}

.margin-x {
    margin-left: 16px;
    margin-right: 16px;
}

.padding-x {
    padding-left: 16px;
    padding-right: 16px;
}

.edit-gap-sizing {
    width: calc(25% - 0.5rem);
    max-width: calc(25% - 0.5rem);
}


.form-check-input {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.form-check-input:hover {
    box-shadow: 0 0 8px rgba(61, 139, 253);
}