
body {
    font-family: "Inter";
    color: black;
    background-color: #E9ECEF;
}

.bg-blue-dark {
    background-color: #084298;
}

.bg-blue {
    background-color: #0A58CA;
}

.bg-blue-light {
    background-color: #3D88FD;
}

.bg-gray-dark {
    background-color: #495057;
}

#page-content {
    margin-left: 150px;
    padding-top: 45px;
}

.brand {
    padding: 6px;
    color: white;
}

.sidebar {
    position: fixed;
    width: 150px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 600;
}

.topbar {
    position: fixed;
    margin-left: 150px;
    height: 45px;
    width: 100%;
}

.navbar-search {
    color: white;
    border-color: #495057;
    height: 100%;
}

.navbar-search::placeholder {
    color: #bbb;
}

.nav-link {
    color: white;
    text-align: center;
}

.nav-item {
    width: 100%;
}

.nav-link:hover {
    color: #DEE2E6;
}